.game_of_life_all {
  background-color: #415a77;
  min-height: 100vh;
}

.game_of_life_inner {
  padding: 10px;
}

.game_of_life {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game_of_life_div {
  background-color: antiquewhite;
}

.game_of_life_title {
  font-size: clamp(25px, 4.2vw, 65px);
  font-weight: bold;
}

.game_of_life_grid_div {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(50, 12px);
  grid-template-rows: repeat(30, 12px);
}

.cell {
  width: 12px;
  height: 12px;
  border: 0.5px solid #444;
}

.game_of_life_button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: JetBrains;
  margin: 0;
  padding: 0;
}

.game_of_life_clean_up_button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: JetBrains;
  margin: 0;
  padding: 0;
}

.game_of_life_subtitle {
  font-size: larger;
  font-weight: bold;
}

.game_of_life_link {
  color: black;
}

.game_of_life_link:hover {
  background-color: antiquewhite;
}

@media (min-width: 890px) {
  .game_of_life_all {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 890px) {
  .game_of_life_grid_div {
    grid-template-columns: repeat(30, 12px);
    grid-template-rows: repeat(30, 12px);
  }
}
