.game_of_life_all {
  background-color: #415a77;
  min-height: 100vh;
}

.game_of_life_inner {
  padding: 10px;
}

.game_of_life {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game_of_life_div {
  background-color: antiquewhite;
}

.game_of_life_title {
  font-size: clamp(25px, 4.2vw, 65px);
  font-weight: bold;
}

.cell {
  width: 1vw;
  height: 1vw;
  border: 1px solid #444;
}

.game_of_life_button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: JetBrains;
  margin: 0;
  padding: 0;
}

.game_of_life_clean_up_button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: JetBrains;
  margin: 0;
  padding: 0;
}

@media (min-width: 890px) {
  .game_of_life_all {
    width: 75%;
    margin: 0 auto;
  }
}
