@font-face {
  font-family: "JetBrains";
  src: url("/webfonts/JetBrainsMono-Regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e0e1dd;
}

html,
body {
  font-family: "JetBrains";
  background-image: url("assets/background.jpg");

  /*   background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-page-wrapper {
  display: flex;
  min-height: 100vh;
}

.card {
  position: relative;
  border: 1px solid #aaa;
  padding: 20px;
  width: 100%;
}

.card-content {
  word-break: break-word;
  overflow-wrap: break-word;
}

.label {
  position: absolute;
  top: -10px;
  left: 5px;
  background-color: #7e3f98;
  color: black;
  padding: 2px 8px;
  z-index: 1;
  transform: skewX(-10deg);
}

/* LEFT PART */
.home-page-left-part {
  flex: 1;
  background-color: blue;
}

/* END OF LEFT PART */

/* MIDDLE PART */
.home-page-middle-part {
  display: flex;
  flex: 8;
  background-color: black;
  margin-top: 10px;
}

.home-page-title {
  font-size: xx-large;
  font-weight: bolder;
}

/* MIDDLE PART LEFT */
.home-page-middle-part-left {
  flex: 1.5;
  background-color: darkgreen;
}

.home-page-astro-image-div img {
  width: 100%;
}

/* MIDDLE PART MIDDLE */
.home-page-middle-part-middle {
  flex: 7;
}

.middle-part-about-me-div {
  padding: 10px;
}

.middle-part-middle-four-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.middle-part-photos-div {
  flex: 0 0 48%;
  display: flex;
}
.middle-part-musics-div {
  flex: 0 0 48%;
  display: flex;
}

.middle-part-movies-div {
  flex: 0 0 48%;
  display: flex;
}

.middle-part-books-div {
  flex: 0 0 48%;
  display: flex;
}

.middle-part-personal-projects-div {
  padding: 10px;
}

/* MIDDLE PART RIGHT */
.home-page-middle-part-right {
  flex: 1.5;
  background-color: darkgoldenrod;
}

.canvas-wrapper {
  height: 10rem;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
  display: block;
}

/* END OF MIDDLE */

/* RIGHT PART */
.home-page-right-part {
  flex: 1;
  background-color: brown;
  position: relative;
}

.home-page-right-part-anime-div {
  position: absolute;
  bottom: 0;
  right: 0;
}

.home-page-right-part-anime-div img {
  width: 100%;
}

/* END OF RIGHT  */

/* LAYOUTS */

@media (max-width: 1360px) {
  .home-page-left-part {
    display: none;
  }

  .home-page-right-part {
    display: none;
  }
}

@media (max-width: 680px) {
  .home-page-middle-part-left {
    display: none;
  }

  .home-page-middle-part-right {
    display: none;
  }
}

/* END OF LAYOUTS */
